@import "../../css/style.scss";

.aka--awesome--container {
  //   height: 100vh;
  //   width: 100vw;

  .aka--awesome--hero {
    background: url(../../images/home-bg.svg);
    height: 100vh;
    background-size: cover;
    object-fit: contain;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .aka--awesome--hero--left {
      display: flex;
      flex-direction: column;
      //   justify-content: center;
      //   align-items: center;
      margin-left: 9rem;
      img {
        width: 150px;
        height: 150px;
      }
      .hero--title {
        color: $primary-color;
        font-size: 3rem;
        margin: 3rem 0;
      }
      .aka--awesome--hero--left--btns {
        display: flex;
        .btn {
          margin-left: 1rem;
        }
        button:first-child {
          margin: 0;
        }
      }
    }

    .aka--awesome--hero--right {
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .aka--awesome--services {
    background: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    .aka--awesome--services--right {
      padding-left: 5rem;
    }
    .aka--awesome--services--left {
      img {
        height: 200px;
      }
    }
  }

  .aka--awesome--step--one {
    background: url("../../images/stages/stage2_phn.png"), $secondary-color;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
    span {
      color: $primary-color;
    }
  }
  .aka--awesome--step--two {
    background: url("../../images/stages/stage3_phn.png"), $secondary-color;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    span {
      color: $primary-color;
    }
  }

  .aka--awesome--clients {
  }
  .aka--awesome--achievements {
    background: $white-color;
  }
}
